body
{
	font-family: 'Nunito Sans', sans-serif;
}
h1,h2,h3,h4,h5,h6
{
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	margin: 0px;
}
a:hover
{
	text-decoration: none;
}
.navbar
{
	margin-bottom: 0px;
}
.slider img 
{
	width: 100%;
}
.mengapa
{
	padding-top: 100px;
	padding-bottom: 100px;
	background-color: #fff;
}
.mengapa h1
{
	font-size: 22px;
	margin-bottom: 20px;
}
.mengapa h2
{
	font-size: 16px;
	margin-bottom: 20px;
}
.paket
{
	padding-top: 100px;
	padding-bottom: 100px;
	background-color: #f8f8f8;
} 
.paket h1 
{
	font-size: 22px;
	margin-bottom: 20px;
}
.paket .caption
{
	background-color: #fff;
	padding: 20px;
	margin-bottom: 20px;
	box-shadow: 0px 1px 1px 0px #ddd;
}
.paket .caption h2
{
	font-size: 16px;
	line-height: 24px;
}
.paket .caption: hover
{
	background-color: #337ab7;
	color: #fff;
	transition-duration: 1s;
  	transition-property: background-color;
}
.paket img:hover
{
	opacity:0.8;
}
.blog 
{
	padding-top: 100px;
	padding-bottom: 100px;
	background-color: #fff;
}
.blog h1
{
	font-size: 22px;
	margin-bottom: 20px;
}
.blog thumbnail
{
	background-color: #f8f8f8;
}
.blog .caption h2
{
	font-size: 16px;
	line-height: 24px;
}
.blog thumbnail
{
	width: 100%;
}
.profil
{
	padding-top: 100px;
	padding-bottom: 100px;
	background-color: #f8f8f8;
}
.profil h1
{
		font-size: 22px;
		margin-bottom: 20px;
}
.footer
{
	padding-top: 100px;
	padding-bottom: 100px;
	background-color: #fff;
}
.footer h1
{
	font-size: 18px;
	margin-bottom: 20px;
}

